#book-form {
  display: none;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 5rem;
}

#book-form input,
#book-form button {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.read {
  background-color: orange;
}
